<mat-spinner *ngIf="loading"></mat-spinner>

<mat-table [dataSource]="data" *ngIf="!loading">

    <ng-container *ngFor="let column of fields" matColumnDef="{{column}}">
        <mat-header-cell *matHeaderCellDef>{{column}}</mat-header-cell>
        <mat-cell *matCellDef="let element "> {{element[column]}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="fields"></mat-header-row>
    <mat-row *matRowDef="let element; columns: fields;"></mat-row>
</mat-table>
<mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="refreshData($event)">
</mat-paginator>


<!-- <p-table [columns]="cols" [value]="cars" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)" [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="loading">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table> -->