//altius colors
$white: #ffffff;
$color1: #457B8F;
$color2: #589EB8;
$color3: #67D6CF;
$color4: #67B8D6;
$gray: #757C87;
$liteGray: #A5ABB5;
$lightenGray: #C1C7D2;
$lightnessGray: #ECF0F6;
$fontColor: #444444;
$catalogColor: #82C91E;
$goodsColor: #FF9900;
$leftoversColor: #D6336C;
$documentsColor: #5C7CFA;
$analyticsColor: #22B8CF;
$mainGradient: linear-gradient(46.13deg, $color4 23.53%, $color3 102.92%);
$heightLine: 60px;
$fontFamily:"SF UI Text","Helvetica Neue",sans-serif;


