<div>
  Печать стикеров и ценников
  <button mat-button>Обновить</button>
  <button mat-button>Фильтр</button>
  <button mat-button>Экспорт</button>
  <button mat-button>Вид</button>
</div>
<div>
  <mat-table [dataSource]="products">

    <ng-container matColumnDef="_select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container *ngFor="let column of fields" matColumnDef="{{column}}">
      <mat-header-cell *matHeaderCellDef>{{column}}</mat-header-cell>
      <mat-cell *matCellDef="let element "> {{element[column]}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="header"></mat-header-row>
    <mat-row *matRowDef="let element; columns: header;"></mat-row>
  </mat-table>
</div>
<div>
  <button mat-button>Печать</button>
  <button mat-button>Печать акционных</button>
</div>
